/*** CSS Custom Properties ***/
:root {
    /* Brand Colors */
    --c-primary: #285C76;
    --c-secondary: #0072bb;
    --c-tertiary: #107db5;
    --c-accent: #d9dcd6;
    --c-white: #ffffff;
    --c-black: #000000;

    /* Brand Fonts */
    --f-primary-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --f-alt-font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*** General Styles ***/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--f-alt-font-family);
}

body {
    color: var(--c-white);
    background-color: var(--c-accent);
}

.c-accent {
    color: var(--c-accent);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*  Text */

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    color: var(--c-white);
    text-decoration: none;
}

.center {
    text-align: center;
}

/*** Navigation (Header/Footer) ***/

header {
    padding: 20px;
    background-color: var(--c-primary); 

}

.footer {
    color: var(--c-black);
    padding: 30px;
    clear: both;
}

header, footer {
    font-family: var(--f-primary-font-family);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

/*** Body ***/

/* Hero */
.hero {
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 600px;
    margin-bottom: 25px;
}

/* Body Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: var(--c-secondary);
}

.content section img {
    max-height: 200px;
}

/* Body Aside */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: var(--c-tertiary);
}

aside .benefit {
    margin-bottom: 32px;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}